
$blue: #242F9B;
$white: #ffffff;
$gray: #555555;

@mixin wrapper {
  width: 100%;
  padding: 10px 0;
}
@mixin button($width:80px) {
  width: $width;
  background-color: $blue;
  color: #ffffff;
  height: 40px;
  border-radius: 5px;
}

@mixin tcRed() {
  color: red;
}

@mixin labelColor() {
  color: #555555;
}

@mixin inputForm() {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

@mixin form() {
  width: 300px;
  margin-bottom: 25px;
}

@mixin main($width:1000px) {
  width: $width;
  margin: 0 auto;
}