
@mixin button($width) {
  width: $width;
  background-color: #242F9B;
  color: #ffffff;
  height: 40px;
  border-radius: 5px;
}
@mixin tcRed() {
  color: red;
}
@mixin labelColor() {
  color: #555555;
}
@mixin inputForm() {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}