@charset "utf-8";
@use 'common';

.edit-task {
  @include common.titleForm;

  .edit-task-form {
    @include common.labelColor;

    .edit-task-title, .edit-task-detail {
      @include common.form;
    }
    
    .delete-task-button {
      @include common.button(80px);
      color: #ff3333;
      margin: 25px 5px;
      background: transparent;
      border: 1px solid red;
    }
    
    .edit-task-button {
      @include common.button;
    }
  }
  
  .error-message {
    @include common.tcRed;
  }
}