@charset "utf-8";
@use 'common';

$blue: #242F9B;
$white: #ffffff;

.edit-task {
  width: 1000px;
  margin: 0 auto;
}

.edit-task-form {
  @include common.labelColor;
}

.edit-task-title, .edit-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.delete-task-button {
  @include common.button(80px);
  color: #ff3333;
  margin: 25px 5px;
  background: transparent;
  border: 1px solid red;
}

.edit-task-button {
  @include common.button;
}

.error-message {
  @include common.tcRed;
}