@charset "utf-8";
@use 'common';
@use 'responsive';

$width: 100%;

@mixin list() {
  width: $width;
  margin-top: 30px;
  text-align: center;
}

.new-list {
  @include common.main;

  @include responsive.sp {
    @include list();
  }

  .new-list-form {
    @include common.labelColor;
    @include responsive.sp {
      @include list();
    }

    .new-list-title {
      @include common.form;
      @include responsive.sp {
        width: $width - 20% ;
        margin-top: 20px;
      }
    }
    .new-list-button {
      @include common.button(80px);
    }    
  }
}

