@charset "utf-8";
@use 'common';
@use 'responsive';

$width: 100%;

@mixin list() {
  width: $width;
  margin-top: 30px;
  text-align: center;
}

.new-task {
  @include common.main;
  @include responsive.sp {
    @include list();
  }

  .new-task-form {
    @include common.labelColor;
    @include responsive.sp {
      @include list();
    }
    .new-task-select-list, .new-task-title, .new-task-detail {
      @include common.form;
      @include responsive.sp {
        width: $width - 20%;
        margin-top: 20px;
        padding: 10px;
      }
    }
    
    .new-task-detail {
      height: 200px;
    }
    
    .new-task-button {
      @include common.button(80px);
    }  
  }
  
  .error-message {
    @include common.tcRed;
  }
}

