@charset "utf-8";
@use 'common';

.signup {
  @include common.main(500px);
  margin-top: 50px;

  .signup-form {
    margin: 25px 0;
    color: common.$gray;

    .email-input, .name-input, .password-input {
      @include common.inputForm;
    }
    
    .signup-button {
      @include common.button(100px);
    }  
  }

  .error-message {
    @include common.tcRed;
  }
}
